<section class="background">

  <div class="container">
    <div class="logodiv">
    <img src="{{assetPath}}/img/logo.png" alt="DoBoard Logo" />
  </div>
    <div class="sub-container">
      <div class="form-section">

        <h2>Login</h2>
        <form>
          <div class="row">
            <div class="col-1">
              <i class= "fa fa-user-circle-o form_icon"></i>
            </div>
            <div class="col-11">
              <input type="text" placeholder="Username" required />
            </div>
         
          <div class="col-1">
            <i class= "fa fa-key form_icon"></i>
          </div>
         <div class="col-11">
          <input type="password" placeholder="Password" required />
         </div>
        </div>
          <button type="submit">Login</button>
          <br>
          <span>Do not have an account? Sign Up</span>
        </form>
      </div>
      <div class="image-section">
        <img src="{{assetPath}}/img/login_bg.png" alt="Task Management Illustration" />
      </div>
    </div>
  </div>
</section>