<section class="background">

    <div class="container">
      <div class="logodiv">
      <img src="{{assetPath}}/img/logo.png" alt="DoBoard Logo" />
    </div>
      <div class="sub-container">
        <div class="image-section">
            <img src="{{assetPath}}/img/signup_bg.png" alt="Task Management Illustration" />
          </div>
        <div class="form-section">
  
          <h2>Sign Up</h2>
          <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-1">
                <i class= "fa fa-user-circle-o form_icon"></i>
              </div>
              <div class="col-11">
                <input type="text" placeholder="Username" required  formControlName="name"/>
              </div>
              <div class="col-1">
                <i class= "fa fa-envelope form_icon"></i>
              </div>
              <div class="col-11">
                <input type="email" placeholder="Email" required formControlName="email"/>
              </div>
           
            <div class="col-1">
              <i class= "fa fa-key form_icon"></i>
            </div>
           <div class="col-11">
            <input type="password" placeholder="Password" autocomplete required formControlName="password"/>
           </div>
           <div class="col-1">
            <i class= "fa fa-lock form_icon"></i>
          </div>
         <div class="col-11">
          <input type="password" placeholder="Confirm Password" required formControlName="confirmpassword" autocomplete/>
         </div>
          </div>
          <div class="text-center">
            <button type="submit">
                <i class="fa fa-user-plus"></i>
                Sign Up</button>
            <br><br>
            <span>Already have an account? <span (click)="navigation('login')" class="hyperlink"> Login</span></span>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>