<section class="background">

    <div class="container">
      <div class="logodiv">
      <img src="{{assetPath}}/img/logo.png" alt="DoBoard Logo" />
    </div>
      <div class="sub-container">
        <div class="image-section">
            <img src="{{assetPath}}/img/signup_bg.png" alt="Task Management Illustration" />
          </div>
        <div class="form-section">
  
          <h2>Sign Up</h2>
          <form>
            <div class="row">
              <div class="col-1">
                <i class= "fa fa-user-circle-o form_icon"></i>
              </div>
              <div class="col-11">
                <input type="text" placeholder="Username" required />
              </div>
              <div class="col-1">
                <i class= "fa fa-envelope form_icon"></i>
              </div>
              <div class="col-11">
                <input type="text" placeholder="Email" required />
              </div>
           
            <div class="col-1">
              <i class= "fa fa-key form_icon"></i>
            </div>
           <div class="col-11">
            <input type="password" placeholder="Password" required />
           </div>
           <div class="col-1">
            <i class= "fa fa-lock form_icon"></i>
          </div>
         <div class="col-11">
          <input type="password" placeholder="Confirm Password" required />
         </div>
          </div>
            <button type="submit">
                <i class="fa fa-user-plus"></i>
                Sign Up</button>
            <br>
            <span>Already have an account? Login</span>
          </form>
        </div>
        
      </div>
    </div>
  </section>